.view {
  height: 100vh;
}

.jumbotron {
  padding: 9.2vh 3.9vh;
  margin: 0px auto;
  background: #5350ffcc ;
  color: floralwhite;
}

.row-header{
  margin: 0px auto;
  padding: 0px auto;
  text-align: center;
}

.row-content {
  margin: 0px auto;
  padding: 6.6vh 0vh;
  border-bottom: 1px ridge;
  min-height: 52.84vh;
}

.figure-size {
  font-size: 1.5rem;
}

.footer{
  background-color: #5350ffcc;
  margin: 0px auto;
  padding: 8.45vh 0vh;
}

